*{
    margin: 0 auto;
    box-sizing: border-box;
}
.menu{
    display: flex;
    background-color: white;
    width: 100%;
    height: 100px;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    color: white;
    background-image: radial-gradient(circle at 50% 50%, #ff8fb1 0, #ff85b8 8.33%, #ff7bbf 16.67%, #fe70c5 25%, #ed66cc 33.33%, #d85dd2 41.67%, #be55d8 50%, #9e50de 58.33%, #754fe4 66.67%, #3250e9 75%, #0053ee 83.33%, #0055f0 91.67%, #0057f1 100%);
}

.iconsDetails{
    margin-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.userMenu{
    background-color:#0053ee;
    height: 180px;
    width: 250px;
    color: white;
    position: absolute;
    right: 10px;
    margin-top: 80px;
    z-index: 1;
    font-size: 1.5rem;
    border-radius: 30px;
    border: 1px solid black;
    padding: 30px;
    display: none;
}

.userMenu_user{
    margin: 3px;
}
.userMenu_user:hover{
    color:black;
    cursor: pointer;
}

.userMenu_config{
    margin: 3px;
}
.userMenu_config:hover{
    color:black;
    cursor: pointer;
}

.userMenu_deleteUser{
    margin: 3px;
}
.userMenu_deleteUser:hover{
    color:black;
    cursor: pointer;
}

.userMenu_editUser{
    margin: 3px;
}
.userMenu_editUser:hover{
    color:black;
    cursor: pointer;
}


.iconUser{
    font-size: 2rem;
    margin:20px 150px;
    color: white;
}
.iconUser:hover{
    color: black;
    cursor: pointer;
}

.iconLogout{
    font-size: 2rem;
    margin:20px 30px;
}

.iconLogout:hover{
    color: black;
    cursor: pointer;
}

.home{
    font-size: 2rem;
    margin: 20px 50px;
}

.home:hover{
    cursor: pointer;
    color: black;
}

.products{
    font-size: 2rem;
    margin: 20px 40px; 
}

.products:hover{
    cursor: pointer;
    color: black;
}

.shopping_cart{
    font-size: 2rem;
    margin: 20px 50px;
}

.shopping_cart:hover{
    cursor: pointer;
    color: black;
}

.search{
    font-size: 1.8rem;
    border: 2px solid black;
    border-radius: 10px;

}

.searchBar{
    font-size: 1.8rem;
    margin: 20px 50px;
}

.searchBar:hover{
    cursor: pointer;
    color: black; 
}

.list{
    width: 80%;
    height: 100vh;
    display: flex;
    position: absolute;
    right: 0;
    flex-direction: column;
    background-image: white;
    color: white;
}

.list_products{
    color: black;
    position: absolute;
    margin-top: 10px;
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-align: center;
    border-radius: 30px;
    border-collapse: separate;
    border-spacing: 30px;
    background-image: radial-gradient(circle at 50% 50%, #ff8fb1 0, #ff85b8 8.33%, #ff7bbf 16.67%, #fe70c5 25%, #ed66cc 33.33%, #d85dd2 41.67%, #be55d8 50%, #9e50de 58.33%, #754fe4 66.67%, #3250e9 75%, #0053ee 83.33%, #0055f0 91.67%, #0057f1 100%);
}

.buttons_selection{
    display: flex;
    background-color: #0053ee;
    width: 100%;
    height: 100px;
    text-align: center;
    flex-direction: row;
    justify-content: center;
}

.tabelaProdutos{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.produtos{
    width: 33.3%;
    padding: 0 20px;
}

.imgs{
    width: 200px;
    height: 200px;
}

.title{
    font-size: 4rem;
    color: white;
    margin: 30px;
}

.barSide{
    background-color: black;
    margin: 0;
    width: 20%;
    height: 100vh;
    font-size: 1.5rem;
    color: white;
    position: absolute;
    top: 100px;
    left: 0;
    border: none;
}

.filter{
    margin: 20px;
}

input[type=radio]{
    border: 0px;
    width: 25px;
    height: 30px;
    vertical-align: middle;
}

.filter_category{
    margin: 30px;
    margin-bottom: 100px;
}
.filter_price{
    margin: 30px;
    margin-bottom: 100px;
}
.filter_colors{
    margin: 30px;
    margin-bottom: 100px;
}

.left{
    background-color:#0053ee;
    font-size: 5rem;
    border-radius: 20px;
    padding: 10px;
    color: white;
    border: none;
}
.left:hover{
    color: black;
    cursor: pointer;
}

.right{
    border: none;
    background-color:#0053ee;
    font-size: 5rem;
    border-radius: 20px;
    padding: 10px;
    color: white;
}

.right:hover{
    color: black;
    cursor: pointer;
}